<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grid.management.manager.mapper.AdminRoleMapper" >
  <resultMap id="BaseResultMap" type="com.grid.management.manager.entity.AdminRole" >
    <id column="aid" property="aid" jdbcType="VARCHAR" />
    <id column="rid" property="rid" jdbcType="VARCHAR" />
  </resultMap>
</mapper>