<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grid.management.manager.mapper.RolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.grid.management.manager.entity.RolePermission" >
    <result column="rid" property="rid" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rid, pid
  </sql>
</mapper>